body  {
  font-family: OpenSans, sans-serif;
  margin: 0;
  min-width: 320px;
}

@font-face {
    font-family: OpenSans;
    src: url(https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/fonts/OpenSans-Bold.woff);
    font-weight: 700;
}

@font-face {
    font-family: OpenSans;
  src: url(https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/fonts/OpenSans-Regular.woff);
  font-weight: 400;
}

a { 
  text-decoration: none;
  color: white;
}

h1 {
  letter-spacing: 5px;
  margin: 0;
}

h2 {
  letter-spacing: 3px;
  line-height: 50px;
  margin: 0;
}

h3 {
  letter-spacing: 3px;
  line-height: 30px;
  margin: 0;
}

p {
  margin: 0;
  letter-spacing: 2px;
  line-height: 30px;

}


img {
  width: 100%;
  display: block;
}

hr {
  
  margin-top: 100px;
  width: 60%;
  

}

.firstpage { 
  position: relative;
  background-size: cover;
  padding: 4% 0 25% 0;
}

.firstpage::after {
  content: "";
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.4;
  z-index: 1;
}

.logo {
  color: white;
}

.topline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0 6% 0 6%;
  z-index: 2;
  }

.list {
  display: flex;
  padding-left: 0;  
  margin: 0;
}

.mainthing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.lookat {
  color: white;
}

.maintext {
  color: white;
  margin: 40px 0 0 0;
  text-align: center;
}

.firstquestion {
  justify-content: center;
  text-align: center;
}

.fourfoto {
  display: flex;
}

.firstanswer {
  justify-content: center;
  text-align: center;
}

.twopage {  
  position: relative;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.twopage::after {
  content: "";
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.4;
  z-index: 1;
}

.maintwotext {
  position: relative;
  text-align: center;
  color: white;
  z-index: 2;
}

.headourpro {
  justify-content: center;
  text-align: center;
}

.firstpro {
  display: flex;
}

.seaninfo {
  margin: 30px auto 0 auto;
  text-align: center;
  width: 70%;
}

.fourfotofspro {
  display: flex;
  flex-wrap: wrap;
}

.secpro {
  display: flex;
}

.profilefspro {
  display: flex;
  flex-direction: column;
}

.avatarfspro {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.fourfotosecpro {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 0 auto;
}

.profilescpro {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.avatarscpro {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.staninfo {
  margin: 30px auto 0 auto;
  text-align: center;
  width: 70%;
  
}

.thirdpage {  
  position: relative;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.thirdpage::after {
  content: "";
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.4;
  z-index: 1;
}

.mainthreetext {
  position: relative;
  text-align: center;
  color: white;
  z-index: 2;
}

.yrcase {
  text-align: center;
 }

.solutions {
  display: flex;
}

.ourrob {
  display: flex;
}

form {
  position: relative;
  width: 300px;
  margin: 50px auto;
  text-align: center;
}
input, button {
  outline: none;
  background: transparent;
}
input {
  height: 42px;
  padding-left: 10px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
}

.field {
  box-sizing: border-box;
  border: 1px solid black;
  padding: 10px 25px 10px 65px;
  margin: 0;
  
  display: inline-block;
  vertical-align: middle;
  
  font-size: 14px;
  height: 45px;
  border-radius: 15px;
  background-color: #ffffff;
  
  background-image: url(https://netology-code.github.io/html-2-homeworks/form-elements/search-field/img/search.svg);
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-position: left 20px center;
}

input:focus {
  border-color: blue;
}

.solutions {
  justify-content: space-around;
  position: relative;
}

.firstpro::after {
       content: '';
       position: absolute;
       bottom: 0;
       left: 50%; 
       transform: translateX(-50%); 
       height: 1px; 
       width: 60%; 
       background-color: #c8c8c8;
}

.solutions::after {
       content: '';
       position: absolute;
       bottom: 0;
       left: 50%; 
       transform: translateX(-50%); 
       height: 1px; 
       width: 60%; 
       background-color: #c8c8c8;
}


.firstpro {
  position: relative;
}

.fssol {
  display: flex;
  flex-direction: column-reverse;
}

.scsol {
  display: flex;
  flex-direction: column-reverse;
}

.thrsol {
  display: flex;
  flex-direction: column-reverse;
}

.frsol {
  display: flex;
  flex-direction: column-reverse;
}

.fslabe {
  background-color: black;
  border-radius: 15px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 40px auto;

}

.sclabe {
  background-color: black;
  border-radius: 15px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 40px auto;

}

.thirdlabe {
  background-color: black;
  border-radius: 15px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 40px auto;

}

.frlabe {
  background-color: black;
  border-radius: 15px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 40px auto;

}
.youcan {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.readyhelp {
  display: flex;
  flex-wrap: wrap;
}

.fsreadyph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.fourpage {  
  position: relative;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.screadyph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.thrreadyph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.frreadyph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}


.fourpage::after {
  content: "";
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.4;
  z-index: 1;
}

.mainfourtext {
  position: relative;
  text-align: center;
  color: white;
  z-index: 2;
}

.mainexample {
  display: flex;
}

.fotorow {
  display: flex;
  justify-content: space-around;
}

.titlefest {
  justify-content: center;
  text-align: center;
}

.fest {
  display: flex;
}

.titlefriend {
  justify-content: center;
  text-align: center;
}

.randompeople {
  display: flex;
}

.fifthpage {  
  position: relative;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.fifthpage::after {
  content: "";
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.4;
  z-index: 1;
}

.headexample {
  text-align: center;
}

.mainexample {
  display: flex;
}

.avatarex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.festandchall {
  background-color: #DEDEDE;
}

.sumgallery {
  display: flex;
  flex-wrap: wrap;
}

.editgallery {
  display: flex;
  flex-wrap: wrap;
}

.scran {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.thrran {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.randompeople {
  display: flex;
  justify-content: space-around;
}

.fsran {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.frran {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.mainfifthtext {
  position: relative;
  text-align: center;
  color: white;
  z-index: 2;
}

.titleregistr {
  justify-content: center;
  text-align: center;
}

.forgpass {
  color: blue;
}

.twobuttons {
  display: flex;
   width: 180px;
   margin: 0 auto;
  justify-content: space-around;}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0 0 0;
}

.container_registr {
  text-align: center;
  margin: 20px 0 20px 0;
}

.container_fp {
  text-align: center;
}

.registerbtn {
    background-color: black;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px auto 0 auto;
}

.registrbut {
  padding: 0 10px 0 10px;
}

.passwordbut {
  padding: 0 10px 0 10px;
}


.facebook {
  border: 1px black solid;
  width: 100px;
  height: 35px;
  border-radius: 10px;
  margin-left: auto;
}

.google {
  border: 1px black solid;
  width: 100px;
  height: 35px;
  border-radius: 10px;
  margin-left: 1%;
  margin-right: auto;
}

.registra {
  color: blue;
}

.lastpage {
  background-color: black;
  display: flex;
}

.company {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 2%;
}

.comm {
  display: flex;
  flex-direction: column;
   margin: 0 0 0 10%;
}

.social {
  display: flex;
  flex-direction: column;
   margin: 0 0 0 10%;
}

.logof {
  color: white;
  line-height: 5px;
  margin: auto 100px auto auto;
}

.facebookicn {
  display: block;
   margin: 6px auto 0 auto;
   text-align: center;
   justify-content: center;
}

.googleicn {
  display: block;
   margin: 7px auto 0 auto;
   text-align: center;
   justify-content: center;
}



@media (min-width: 320px) and (max-width: 639px) {
  
.firstpage {  
  background-image: url("https://github.com/hounsworm/finn/blob/master/img/for%20screen%201%20320px%20(1).jpg?raw=true");
}

.searchup {
  height: 30px;
}


.list {
    display: none;
  }

.toplineforph {
  display: flex;
  align-items: center;

}

.burger {

    margin: 0 20px 0 40px;
}

.logo {
  font-size: 28px;
}

.aboutus {
  margin: 0 80px 0 0; 
}

.public {
 margin: 0 80px 0 0;
}

.mainthing {
  margin: 35% 0 0 0;
}

.lookat {
  font-size: 48px;
}

.maintext {
  font-size: 20px;
  width: 60%;
}

.main {
  padding: 50px 0 0 0;
}

.what {
  margin: 0 0 30px 0;
}

.fourfoto {
  flex-direction: column;
}

.fsfoto {
  width: 100%;
}

.scfoto {
  width: 100%;
}

.thrfoto {
  width: 100%;
}

.frfoto {
  display: none;
}

.firstanswer {
  margin: 50px 2% 50px 2%;
}

.twopage {
  background-image: url("https://github.com/hounsworm/finn/blob/master/img/canyon-767px.jpg?raw=true");
  padding: 100px 0 100px 0;
} 

.maintwotext {
  width: 60%;
}

.headourpro {
  margin: 50px 0 30px 0;
}

.firstpro {
  flex-direction: column-reverse;
}

.sean {
  margin: 20px auto;
}

.seaninfo {
    margin: 0 auto 30px auto;
}

.fsfotofspro {
  display: none;
} 

.thrfotofspro {
  display: none;
}

.fourfotofspro {
  justify-content: space-around;
}

.secpro {
  flex-direction: column;
}

.profilescpro {
  width: 100%;
}

.stan {
  margin: 20px auto;
}

.staninfo {
    margin: 0 auto 30px auto;
}

.picsecpro {
  padding: 0 0 50px 0;
}

.fourfotosecpro {
  justify-content: space-around;
}

.fsfotoscpro {
  width: 40%;
}

.frfotoscpro {
  width: 40%;
}

.thrfotoscpro {
  display: none;
}

.scfotosecpro {
  display: none;
}

.thirdpage {
  background-image: url("https://github.com/hounsworm/finn/blob/master/img/Mt-Fuji_Fotor700px.jpg?raw=true");
  padding: 100px 2% 100px 2%;
}

.mainthreetext {
  width: 50%;
}

.yrcase {
  margin: 50px 2% 0 2%;
}

input {
  height: 35px;
}

form {
  width: 200px;
  margin: 30px auto;
}

button {
  display: none;
}

.fssol {
  width: 40%;
}

.scsol {
  width: 40%;
}

.thrsol {
  display: none;
}

.frsol {
  display: none;
}

.fslabe {
  width: 100px;
  height: 35px;
}

.sclabe {
  width: 100px;
  height: 35px;
}

.solutions {
  padding-bottom: 50px;
}

.firstpro {
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.ourrob {
  flex-direction: column;
}

.youcan {
  margin: 50px auto;
  width: 80%;
  text-align: center;
}

.comple {
  text-align: center;
  margin: 20px 0;
  font-size: 20px;
}

.thrreadyph {
  display: none;
}

.readyhelp {
  justify-content: space-around;
  margin: 0 0 50px 0;
}

.fourpage {
  background-image: url("https://github.com/hounsworm/finn/blob/master/img/umbrella-4692572_1280_Fotor%20800px.jpg?raw=true");
  padding: 100px 2% 100px 2%;
}

.mainfourtext {
  width: 70%;
}

.headexample {
  margin: 50px 2% 50px 2%;
}

.examplepotf {
  text-align: -webkit-center;
}

.mainexample {
  flex-direction: column;
  width: 80%;
  
}

.wordex {
  margin: 20px auto;
}

.textex {
  margin: 0 0 30px 0;
}

.fotorow {
  justify-content: space-around;
  padding: 0 0 50px 0;
}

.ringo {
  display: none;
}

.lamp {
  width: 40%;
}

.road {
  display: none;

}
  
.pspool {
  width: 40%;
}

.titlefest {
  padding: 50px 0 30px 0;
}

.fest {
  flex-direction: column;
}

.sumgallery {
  justify-content: center;
  padding: 0 0 30px 0;
}

.titlesum {
  display: flex;
  justify-content: center;
  padding: 0 0 10px 0;
}

.editgallery {
  justify-content: center;
  padding: 0 0 50px 0;
}

.titleedit {
  display: flex;
  justify-content: center;
  padding: 0 0 10px 0;
}

.titlefriend {
  margin: 50px 0 30px 0;
}

.scran {
  display: none;
}

.thrran {
  display: none;
}

.randompeople {
  padding: 0 0 50px 0;
}

.fifthpage {
  background-image: url("https://github.com/hounsworm/finn/blob/master/img/elephant-2231690_1280_Fotor850px.jpg?raw=true");
  padding: 100px 20% 100px 20%;
}

.titleregistr {
  padding: 50px 10% 0px 10%;
}

.registrbut {
  margin: 0 0 10px 0;
}

.passwordbut {
  margin: 10px 0 0 0;
}

.registerbtn {
  width: 100px;
  height: 35px;
  margin-bottom: 20px;
}

.facebookf {
  border: 1px black solid;
  width: 70px;
  height: 35px;
  border-radius: 10px;
}

.googlef {
  border: 1px black solid;
  width: 70px;
  height: 35px;
  border-radius: 10px;
}

.lastpage {
  padding: 100px 0 100px 2%;
}

.social {
  display: none;
}

.company {
  display: none;
}

.logof {
  font-size: 42px;
  margin-right: 20%;
}


}

@media (min-width: 640px) and (max-width: 1439px) {

.toplineforph {
  display: none;
}

.firstpage {  
  background-image: url("https://github.com/hounsworm/fin/blob/master/img/fon%20screen1_1024px.jpg?raw=true");
}

.toplineforph {
  display: none;
}


.logo {
  font-size: 48px;
}

.aboutus {
  margin: 0 80px 0 0; 
}

.public {
 margin: 0 80px 0 0;
}

.mainthing {
  margin: 14% 0 0 0;
}

.lookat {
  font-size: 42px;
}

.maintext {
  font-size: 20px;
  width: 40%;
}

.main {
  padding: 100px 0 0 0;
}

.what {
  width: 60%;
  margin: 0 auto;
}

.firstquestion {
  font-size: 18px;
  margin: 0 0 100px 0;
}

.fourfoto {
  flex-wrap: wrap;
}

.fsfoto {
  width: 50%;
  }
  
.scfoto {
  width: 50%;
}
  
.thrfoto {
  width: 50%;
}
  
.frfoto {
  width: 50%;
}

.firstanswer {
  font-size: 18px;
  padding: 100px 0 100px 0;
}

.twopage {  
  background-image: url("https://github.com/hounsworm/finn/blob/master/img/canyon%201280px.jpg?raw=true");
  padding: 200px 0 200px 0;
}

.maintwotext {
  font-size: 24px;
  width: 60%;
}

.headourpro {
  font-size: 32px;
  padding: 100px 0 50px 0;
}

.picfspro {
  width: 50%;
}

.scfotofspro {
  width: 80%;
  margin: 0 auto;
}

.frfotofspro {
 margin: 10px auto;
}

.thrfotofspro {
  margin: 10px auto;
 }


.firstpro {
  padding: 0 2% 0 2%;
}

.solutions {
  margin-bottom: 100px;
  padding-bottom: 100px;
}

.firstpro {
  margin-bottom: 100px;
  padding-bottom: 100px;
}


.fsfotofspro {
  display: none;
}

.profilefspro {
  width: 50%;
}

.sean {
  font-size: 24px;
  margin: 30px auto 30px auto;
}

.seaninfo {
  font-size: 18px;
  margin-top: 0;
}

.picsecpro {
  width: 50%;
}

.stan {
  font-size: 24px;
  margin: 30px auto 30px auto;
}

.staninfo {
  font-size: 18px;
  margin-top: 0;
}

.secpro {
  padding: 0 2% 100px 0;
}

.fsfotoscpro {
  width: 50%;
}

.scfotosecpro {
  width: 50%;
}

.thrfotoscpro {
  width: 50%;
}

.frfotoscpro {
  width: 50%;
}



.thirdpage {  
  background-image: url("https://github.com/hounsworm/finn/blob/master/img/Mt-Fuji_Fotor1024px.jpg?raw=true");
  padding: 200px 0 200px 0;
}

.mainthreetext {
  font-size: 24px;
  width: 40%;
  
}

.searchpage {
  padding: 100px 0 0 0;
}

.yrcase {
  font-size: 24px;
  text-align: center;
 }

.vrcasehe {
  width: 60%;
  margin: 0 auto 50px auto;
}


.fslabe {
  width: 120px;
  font-size: 20px;
  height: 40px;
}

.sclabe {
  width: 100px;
  font-size: 20px;
  height: 40px;
}

.thirdlabe {
  width: 120px;
  font-size: 20px;
  height: 40px;
}

.frlabe {
  width: 80px;
  font-size: 20px;
  height: 40px;
}

.frsol {
  display: none;
}

.ourrob {
  padding: 0 2% 100px 2%;
}

.youcantx {
  width: 50%;
}

.comple {
  margin-top: 20px;
}

.readyhelp {
  margin: 20px 0 0 0;
  justify-content: space-around;
}

.frreadyph {
  display: none;
}

.fourpage {  
  background-image: url("https://github.com/hounsworm/fin/blob/master/img/umbrella-4692572_1280_Fotor%201280px.jpg?raw=true");
  padding: 200px 0 200px 0;
}

.mainfourtext {
  font-size: 28px;
  width: 40%;
}


.examplepotf {
  padding: 100px 0 0 0;
}

.headexample {
  font-size: 24px;
  margin-bottom: 50px;
}

.mainexample {
  margin: 0 0 100px 0;
  width: 86%;
}

.avatarex {
  width: 50%;
}

.textex {
  width: 50%;
}

.exman {
  width: 255px;
}

.wordex {
  margin: 20px 0px 0 0;
}

.fotorow {
  padding: 0 0 100px 0;
}

.pspool {
  display: none;
 }

.festandchall {
  padding: 0 0 100px 0;
}

.summeris {
  width: 50%;
  padding: 0 0 0 2%;
}

.titlesum {
  font-size: 20px;
  margin: 0 0 10px 0;
}

.editor {
  width: 50%;
  padding: 0 2% 0 2%;
}

.titleedit {
  font-size: 20px;
  margin: 0 0 10px 0;
}

.sumwater {
  width: 50%;
}

.summerpalms {
  width: 50%;
}

.sumsea {
  width: 50%;
}

.sumsunset {
  width: 50%;
}

.light {
  width: 50%;
}

.redlight {
  width: 50%;
}

.yelwom {
  width: 50%;
}

.ball {
  width: 50%;
}

.randompeople {
  padding: 0 0 100px 0;
}

.thrran {
  display: none;
}

.fsrandom {
  margin: 0 0 10px 0;
}

.scrandom {
  margin: 0 0 10px 0;
}

.thrrandom {
  margin: 0 0 10px 0;
}

.frrandom {
  margin: 0 0 10px 0;
}

.titlefest {
  font-size: 18px;
  padding: 50px 0 50px 0;
}

.titlefriend {
  font-size: 18px;
  padding: 50px 0 50px 0;
}

.fifthpage {  
  background-image: url("https://github.com/hounsworm/fin/blob/master/img/elephant-2231690_1280_Fotor%201280px.jpg?raw=true");
  padding: 200px 0 200px 0;

}

.mainfifthtext {
  font-size: 28px;
  width: 40%;
}

.titleregistr {
  font-size: 18px;
  padding: 50px 0 0 0;
}

.registrbut {
  margin: 0 0 30px 0;
}

.container_fp {
  text-align: center;
  margin: 20px 0 20px 0;
}

.registerbtn {
    width: 168px;
    font-size: 15px;
    height: 42px;
}

.facebookf {
  border: 1px black solid;
  width: 70px;
  height: 35px;
  border-radius: 10px;
}

.googlef {
  border: 1px black solid;
  width: 70px;
  height: 35px;
  border-radius: 10px;
}

.lastpage {
  padding: 100px 0 100px 0;
}

.logof {
  font-size: 40px;
}

  
}

@media (min-width: 1440px) {

.firstpage {  
  background-image: url("https://github.com/hounsworm/fin/blob/master/img/fon%20screen1_1024px.jpg?raw=true");
}

.toplineforph {
  display: none;
}


.logo {
  font-size: 48px;
}

.aboutus {
  margin: 0 80px 0 0; 
}

.public {
 margin: 0 80px 0 0;
}

.mainthing {
  margin: 14% 0 0 0;
}

.lookat {
  font-size: 42px;
}

.maintext {
  font-size: 20px;
  width: 40%;
}

.main {
  padding: 150px 0 0 0;
}

.what {
  width: 60%;
  margin: 0 auto;
}

.firstquestion {
  font-size: 24px;
  margin: 0 0 150px 0;
}

.fourfoto {
  flex-wrap: wrap;
}

.fsfoto {
  width: 50%;
  }
  
.scfoto {
  width: 50%;
}
  
.thrfoto {
  width: 50%;
}
  
.frfoto {
  width: 50%;
}

.firstanswer {
  font-size: 24px;
  padding: 150px 0 150px 0;
}

.twopage {  
  background-image: url("https://github.com/hounsworm/finn/blob/master/img/canyon%201280px.jpg?raw=true");
  padding: 250px 0 250px 0;

}

.maintwotext {
  font-size: 28px;
  width: 40%;
  }

.headourpro {
  font-size: 32px;
  padding: 100px 0 50px 0;
}

.firstpro {
  padding: 0 2% 0 2%;
}

.fsfotofspro {
  height: 50%;
}

.scfotofspro {
  padding: 10px 0 0 0;
}

.frfotofspro {
  padding: 10px 0 0 0;
}

.thrfotofspro {
  padding: 10px 8.5px 0 8.5px;
}

.sean {
  font-size: 28px;
  margin: 50px auto;
}

.seaninfo {
  font-size: 18px;
}

.secpro {
  padding: 100px 2% 150px 2%;
}

.picsecpro {
  width: 50%;
}

.stan {
  font-size: 28px;
  margin: 50px auto;
}

.staninfo {
  font-size: 18px; 
}

.fsfotoscpro {
  width: 340px;
  margin-left: auto;
}

.scfotosecpro {
  width: 340px;
  margin-right: auto;
}

.thrfotoscpro {
  width: 340px;
  margin-left: auto;
}

.frfotoscpro {
  width: 340px;
  margin-right: auto;
}

.solutions {
  padding-bottom: 100px;
}

.firstpro {
  padding-bottom: 100px;
}



.thirdpage {  
  background-image: url("https://github.com/hounsworm/fin/blob/master/img/Mt-Fuji_Fotor1024px.jpg?raw=true");
  padding: 200px 0 200px 0;

}

.mainthreetext {
  font-size: 28px;
  width: 40%;
 }

.searchpage {
  padding: 100px 0 0 0;
}

.yrcase {
  font-size: 24px;
  text-align: center;
 }

.vrcasehe {
  width: 60%;
  margin: 0 auto 50px auto;
}


.fslabe {
  width: 120px;
  font-size: 20px;
  height: 40px;
}

.sclabe {
  width: 100px;
  font-size: 20px;
  height: 40px;
}

.thirdlabe {
  width: 120px;
  font-size: 20px;
  height: 40px;
}

.frlabe {
  width: 80px;
  font-size: 20px;
  height: 40px;
}

.ourrob {
  padding: 100px 2% 100px 2%;
}

.youcantx {
  width: 50%;
}

.comple {
  margin-top: 20px;
}

.readyhelp {
  margin: 10px 0 0 0;
}

.screadyph {
  margin: 0 20px 0 40px;
}

.thrreadyph {
  margin: 0 40px 0 20px;
}

.fourpage {  
  background-image: url("https://github.com/hounsworm/fin/blob/master/img/umbrella-4692572_1280_Fotor%201280px.jpg?raw=true");
  padding: 200px 0 200px 0;
}

.mainfourtext {
  font-size: 28px;
  width: 40%;
}


.examplepotf {
  padding: 100px 0 0 0;
}

.headexample {
  font-size: 24px;
  margin-bottom: 50px;
}

.mainexample {
  margin: 0 0 100px 0;
  width: 86%;
}

.avatarex {
  width: 50%;
}

.textex {
  width: 50%;
}

.exman {
  width: 255px;
}

.wordex {
  margin: 20px 0px 0 0;
}

.fotorow {
  padding: 0 0 100px 0;
}

.festandchall {
  padding: 0 0 100px 0;
}

.summeris {
  width: 50%;
  padding: 0 0 0 5%;
}

.titlesum {
  font-size: 20px;
  margin: 0 0 10px 0;
}

.editor {
  width: 50%;
  padding: 0 0 0 5%;
}

.titleedit {
  font-size: 20px;
  margin: 0 0 10px 0;
}

.sumwater {
  margin: 0 0 0 10px;
}

.summerpalms {
  margin: 0 10px 10px 0;
}

.light {
  margin: 0 10px 10px 0;
}

.ball {
  margin: 0 0 0 10px;
}

.randompeople {
  padding: 0 0 100px 0;
}

.fsrandom {
  margin: 0 0 10px 0;
}

.scrandom {
  margin: 0 0 10px 0;
}

.thrrandom {
  margin: 0 0 10px 0;
}

.frrandom {
  margin: 0 0 10px 0;
}

.titlefest {
  font-size: 18px;
  padding: 50px 0 50px 0;
}

.titlefriend {
  font-size: 18px;
  padding: 50px 0 50px 0;
}

.fifthpage {  
  background-image: url("https://github.com/hounsworm/fin/blob/master/img/elephant-2231690_1280_Fotor%201280px.jpg?raw=true");
  padding: 200px 0 200px 0;

}

.mainfifthtext {
  font-size: 28px;
  width: 40%;
}

.titleregistr {
  font-size: 18px;
  padding: 100px 0 0 0;
}

.registrbut {
  margin: 0 0 30px 0;
}

.container_fp {
  text-align: center;
  margin: 20px 0 20px 0;
}

.registerbtn {
    width: 168px;
    font-size: 15px;
    height: 42px;
}

.facebookf {
  border: 1px black solid;
  width: 70px;
  height: 35px;
  border-radius: 10px;
}

.googlef {
  border: 1px black solid;
  width: 70px;
  height: 35px;
  border-radius: 10px;
}

.lastpage {
  padding: 100px 0 100px 0;
}

.logof {
  font-size: 40px;
}

}




